 @font-face {
     font-display: swap;
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff2') format('woff2');
 }

 @font-face {
     font-display: swap;
     font-family: 'Rubik';
     font-style: normal;
     font-weight: 500;
     src: url('../fonts/rubik-v28-arabic_cyrillic_cyrillic-ext_hebrew_latin_latin-ext-500.woff2') format('woff2');
 }
 
 * {
     font-family: 'Rubik', sans-serif;
 }

 body {
     background-image: url('../img/boarder.jpg');
     margin: 0;
     overflow: hidden;
 }

 html,
 body {
     height: 100%;
 }

 .selected {
     font-weight: 400
 }

 table {
     border-spacing: 0 10px;
     width: 96%;
     overflow: hidden;
     margin: 0 auto;
 }

tr td:first-child {
    border-top-left-radius: 10px;
}

tr td:last-child {
    border-top-right-radius: 10px;
}

tr td:first-child {
    border-bottom-left-radius: 10px;
}

tr td:last-child {
    border-bottom-right-radius: 10px;
}

 thead th:first-child {
     border-top-left-radius: 10px;
 }
  thead th:first-child {
      border-bottom-left-radius: 10px;
  }

 thead th:last-child {
     border-top-right-radius: 10px;
 }
 thead th:last-child {
     border-bottom-right-radius: 10px;
 }

 h1 {
     text-align: center;
     margin: 6px 0;
     color: white
 }

 a {
     color: white;
     text-decoration: none;
 }

 img {
     width: 60px
 }

 th {
     text-align: left;
 }

 td,
 th {
    color: white;
     border: 0;
     padding: 5px
 }

 tr {
     line-height: 40px
 }

 .hr,
 tr {
     background: rgba(14, 12, 12, 0.6);
     line-height: 28px;
 }


 .fc {
     text-align: center;
     font-weight: 500
 }

 .lc {
     text-align: center;
     font-weight: 500
 }

 @media (max-width: 700px) {
     * {
         overflow: scroll;
     }

     .hc {
         display: none
     }
 }

 .main {
     margin: 10px auto 50px;
     max-width: 950px;
     width: 100%;
     flex-grow: 1;
 }

 .error {
     margin: 0 auto;
     max-width: 750px;
     width: 100%;
     text-align: center
 }

 .regions {
     text-align: center;
     font-size: 20px
 }

 .ava {
     width: 40px;
     height: 40px;
     background-size: 100%;
     background-repeat: no-repeat;
     background-color: #BBB;
     border-radius: 5px
 }

 .ava i {
     opacity: 0;
 }

 .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
     margin: 30px auto 20px;
     width: 70%;
     color: rgba(14, 12, 12, 1);
     font-size: 35px;
     max-width: 460px;
     line-height: 50px;
 }

 .number {
    color: rgba(202, 24, 24, 1);
    font-weight: 500;
 }

 .header2 {
     margin: 50px auto 10px;
     width: 70%;
     color: #ffffff;
     font-size: 35px;
     max-width: 300px;
     line-height: 50px;
 }

 .grey {
     color: white
 }

 .extracups {
     text-align: center;
     overflow: hidden;
     bottom: 0;
     width: 100%;
 }

 .nomenees {
     display: inline-block;
     padding: 10px;
 }

 .w96 {
     background: #f1f1f1;
     width: 96%;
     border-radius: 5px 5px 0 0;
     margin: 0px auto;
     max-width: 720px;
 }

 #pagecontent {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     min-height: 100%;
     display: flex;
     flex-direction: column;
 }

 p {
     margin: 0;
     padding: 2px;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 